/* My name is Luke*/
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  line-height: 1.6;
}  
header {
  background: #333;
  color: #fff;
  padding-top: 30px;
  min-height: 70px;
  border-bottom: #77C1E3 3px solid;
}  
header h1 {
  text-align: center;
  text-transform: uppercase;
  margin: 0;
  font-size: 24px;
} 
.nav-container {  
  display: flex;  
  justify-content: space-around;
  align-items: center; 
  background-color: #110f0f;
  padding: 10px 0;   
}   
.nav-item {  
  text-decoration: none;  
  color: #eaf0f5;  
  padding: 10px 20px;  
}   
.nav-item:hover {  
  background-color: #398fe4;/* When the response is shown, the background turns blue*/
}
main {
  margin-left: 210px;
  padding: 0px 10px;
}   
footer {  
  background-color: #333;  
  color: #fff;   
  padding: 20px 0;   
  text-align: center; 
}     
.footer-container {  
  max-width: 1200px;  
  margin: 0 auto;  
  padding: 0 20px; 
  display: flex; 
  justify-content: space-between; 
  align-items: center;   
}
footer p {
  margin: 0;
}
.social-media img {  
  width: 30px; 
  height: 30px;  
  margin: 0 10px;/* Change the position of the picture */
}
.home{
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  margin-top: 2rem;
}

.page1-p{
  text-align: center;
  font-size: 26px;
  font-weight: bold;
}
.page1-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 4rem;
}
.page1-item {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: calc(33.333% - 2rem);
  box-sizing: border-box;
  text-align: center;
  padding: 1rem;
}
.page1-item img {
  width: 100%;
  height: 270px;
  border-radius:inherit;
}
.page1-item h2 {
  font-size:larger;
}

.page2-A {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: calc(33.333% - 2rem);
  box-sizing: border-box;
  text-align: center;
  padding: 1rem;
  display: flex; /* Enable Flexbox layout */
  align-items: center; 
  margin: 0 auto;
  width: 80%;
  margin-top: 20px;
}
.page2-A:hover {  
  transform: translateY(-5px);  
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);  
} 
.page2-B {
  margin-left:20%; /* Automatically sets the left margin to push block-level elements to the right */
  background-color:white;
  padding: 10px;
  border: 1px solid #ccc;
}
.page2-C{
  border: 2px solid white;
  border-radius: 8px;
  background-color:#ccc;
}

.page3-1 {
  background-color: white;/* Background color */
  padding: 5em;
  margin-bottom: 5em;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
}
.page2-C:hover {  
  transform: translateY(-5px);  
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);  
} 

.page4-A {
  display: flex;
  flex-wrap: wrap; /* Line wrap if space is insufficient */
  justify-content: center; /* Horizontal centering */
  gap: 40px; /* Increase spacing */
}
.page4-B{
  flex: 1 1 calc(33.333% - 80px); /* Three columns, each occupying about a third */
  box-sizing: border-box; /* Ensure that borders and margins are contained within the element */
  text-align: center; 
  padding: 20px; /* Add inside margins to provide more interior space */
  border: 1px solid #ddd; 
  border-radius: 8px; /* Rounded border */
  background-color: #f9f9f9; 
}
.page4-B:hover {  
  transform: translateY(-5px);  
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);  
}

.page5-A{
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
  padding: 1rem;
  margin: 0 auto;
  width: 60%;
  height: 650px;
  margin-top: 20px;
}
.page5-A:hover {  
  transform: translateY(-5px);  
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);  
}
table {
  width: 60%;
  border-collapse: collapse;
  margin: 0 auto;
}
th, td {
  border: 1px solid black;
  padding: 8px;
  text-align: center;
}
th {
  background-color: lightblue;
}

.M p,h2{text-align: center;font-size: larger;font-weight: bolder;}
.M img{display: block;margin: 0 auto;}
.container {  
  display: flex;  
  flex-direction: column;  
  justify-content: center;   
  align-items: center; 
  text-align: center; 
}
.yutu{position: absolute;top: 10px;left: 600px;}/*Set the position of the logp icon */
